.currencyTrade {
  margin-left: 70px;
  background-color: #f5f5f5;
  width: 25%;
  margin-top: 100px;
  padding: 20px;

}

.balance {
  padding: 10px;
}

.balance span {
  display: block;
}


.tradeValues {
  display: block;
}


.tradeValues span, input {
  display: block;
  padding: 8px;
}

.valueBlocks {
  margin-bottom: 20px;
  border: 2px groove;
}

input {
  width: 90%;
  margin-bottom: 10px;
  border: 2px groove;
}



.button {
  width: 90%;
  background-color: #0358c5e0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
